@media (max-width: 575px) {
  .img-fluid {
    margin-top: 250px;
    max-width: 50%;
    height: auto;
}
.wire { 
  bottom: 68.1%;
}
.icon{
  width: 150px;
  margin-left: 23%;
}
.box.on img{
  margin-top: 250px;
  }
  section {
    height: 30vh;
}
}